<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>木瑶player</title>
		<!-- 样式 -->
		<link rel="stylesheet" href="./css/list.css" />
		<link rel="stylesheet" href="./css/common.css" />
	</head>

	<body>
		<div class="wrap">
			<!-- 播放器主体区域 -->
			<div class="play_wrap" id="player">
				<div class="search_bar">
					<a href="index.html"><span>木瑶Player</span></a>
					<div class="search_bar_1">
						<a href="login.html"><i>&#xe600;</i></a>
					</div>
					<!-- 搜索歌曲 -->
					<input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic" />
				</div>
				<div class="center_con">
					<!-- 搜索歌单列表 -->
					<div class="song_wrapper">
						<ul class="song_list">
							<li v-for="item in musicList" :class="{active:isActive}" @play="play" @pause="pause">
								<a href="javascript:;" @click="playMusic(item.id) ">&#xe717; </a>
								<b>{{ item.name }}</b>
								<div class="song_list_1"><i>&#xe7f0; </i></div>
								<span v-if="item.mvid!=0" @click="playMV(item.mvid)"><i>&#xe604;</i></span>
							</li>
						</ul>
						<img src="images/line.png" class="switch_btn" alt="" />
					</div>
				</div>
			</div>
		</div>
		<!-- 开发环境版本，包含了有帮助的命令行警告 -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- 官网提供的 axios 在线地址 -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="./js/main.js"></script>
	</body>
</html>
